
    
    <!DOCTYPE html>
    <html>
    <head>
      <title>CSV Data Display</title>
      <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    </head>
    <body>
      <h2>Attendance Date : {{ current_date }}</h2>
      <table id="csvTable" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Date-Time-Stamp</th>
            
            <!-- Add more columns as needed -->
          </tr>
        </thead>
        <tbody>
          {% for row in csv_data %}
          <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
    </html>